* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppin';
    src: url(/font/Poppins-Regular.ttf);
}


/********************* Helpers *********************/

.main-layout {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 1.125rem;
}

.main-layout-generator {
    width: 1150px;
    background-color: rgba(255, 255, 255, 0.925);
    border: 3px solid black;
    border-radius: .625rem;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.active {
    box-shadow: 0px -5px 10px 0px;
}

.open {
    display: block;
}

.close {
    display: none;
}

.hide-filter {
    opacity: 0;
    pointer-events: none;
    height: 100px;
}


/* HEADER */

body {
    margin: 0;
    padding: 0;
    font-family: poppin;
}

header {
    background-color: rgba(86, 34, 102, 0.473);
    height: 100px;
}

.header-logo {
    color: blanchedalmond;
    font-size: 2rem;
    padding-inline-start: 40px;
    letter-spacing: 2px;
}

.header-logo span {
    color: blanchedalmond;
    font-size: 1rem;
}

.header-navbar ul {
    padding-inline-end: 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-navbar li {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-navbar a {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1.1rem;
    transition: font-size .2s;
}

footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    text-align: center;
    background-color: rgba(86, 34, 102, 0.473);
    color: blanchedalmond;
    font-size: .8rem;
    padding-top: 10px;
    font-family: poppin;
}


/* .header-navbar li:hover /*
    
    /* SEARCH QUERY */

.filter-by {
    max-width: 980px;
    margin: 0 auto;
    font-size: 1.4rem;
}

.filter-by input {
    font-family: poppin;
    font-size: 1.1rem;
    background: rgb(240, 240, 240);
}

.filter-by .keywords-query {
    max-width: 1000px;
    height: 150px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.filter-by .keywords-query ul {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

.filter-by .keywords-query li {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.filter-by .keywords-query li:hover {
    font-weight: bolder;
}

.filter-by .keywords-query li:active {
    text-decoration: underline;
}

.filter-by .keywords-query li:not(:first-child) {
    padding-inline-start: 0.8rem;
}

.more-keywords-container {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: right;
    overflow-y: scroll;
}

.more-keywords-container button {
    width: 30px;
    height: 30px;
    background-color: rgba(86, 34, 102, 0.473);
    color: blanchedalmond;
    border: 1px solid rgba(86, 34, 102, 0.651);
    cursor: pointer;
    position: absolute;
}

.more-keywords-container button:hover {
    background-color: rgba(86, 34, 102, 0.26);
}


/* LAYOUT */

.memes-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: 160px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.meme img,
.meme input {
    width: 180px;
    height: 160px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0);
    transition: box-shadow .3s;
}

.meme img:hover,
.meme input:hover {
    box-shadow: 4px 4px 10px 2px
}

.meme input {
    position: absolute;
    top: inherit;
    opacity: 0;
}


/* MEME GEN LAYOUT */

.meme-generator {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
}

.meme-generator .toggle-modal,
.saved-memes .toggle-saved-modal {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgba(86, 34, 102, 0.473);
    color: blanchedalmond;
    cursor: pointer
}

.meme-generator button:hover {
    background-color: rgba(86, 34, 102, 0.664);
}

.meme-generator h2,
.saved-memes h2 {
    text-align: center;
    color: cadetblue;
    font-size: 1.875rem;
    text-decoration: underline;
}

.canvas-container {
    margin: 0 auto;
}

.meme-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.meme-setting {
    width: 600px;
    height: 500px;
    margin-right: 25px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(86, 34, 102, 0.473);
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
}


/* MEME TEXT */

.meme-setting #text-line {
    width: 500px;
    height: 60px;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 10px;
}

.line-settings {
    width: 230px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


/* TEXT BUTTONS */

.meme-setting img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.meme-setting button,
.meme-setting a {
    background-color: rgba(255, 255, 255, 0.767);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.meme-setting button:hover,
.meme-setting a:hover {
    background-color: rgba(255, 255, 255, 0.473);
}


/* TEXT SETTINGS */

.text-settings {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    gap: 50px;
    margin: 0 auto;
    margin-top: 20px;
}

.text-settings button {
    width: 60px;
    height: 45px;
    cursor: pointer;
}

.font-settings {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.font-settings select {
    width: 250px;
    height: 40px;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 30px;
}

.font-settings input {
    opacity: 0;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.font-settings button {
    position: relative;
    right: 50px;
    pointer-events: none;
}

.meme-setting .stickers {
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 90px;
    margin: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.meme-setting .stickers li {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.meme-setting .stickers-bar {
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.meme-setting .features button {
    width: 50px;
    height: 50px;
}

.meme-setting ul li {
    font-size: 3rem;
    cursor: pointer;
}

.meme-setting .features {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.meme-setting .features .share-facebook {
    background-color: #385898;
    width: 250px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme-setting .features .share-facebook:hover {
    background-color: #3858988c;
}

.saved-memes {
    position: absolute;
    width: 700px;
    height: 650px;
    top: 120px;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, 0);
    background-color: rgba(241, 232, 232, 0.856);
}

.saved-memes canvas {
    margin-top: 10px;
    margin-inline-start: 50%;
    transform: translate(-50%, 0);
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fcf6f6;
    cursor: crosshair;
}

.saved-memes .features {
    width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.saved-memes .features img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .main-layout {
        max-width: 820px;
        margin-bottom: 2rem;
    }
    header {
        height: 4.5rem;
    }
    .header-logo {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        padding-inline-start: 1.5rem;
    }
    .header-logo span {
        padding-inline-start: 1.2rem;
        font-size: 1rem;
    }
    .header-navbar ul {
        padding-inline-end: 30px;
    }
    .header-navbar ul li {
        font-size: 1rem;
        width: 5.2rem;
        height: 4.5rem;
        margin-inline-start: 2rem;
    }
    .header-navbar ul a {
        font-size: 1rem;
    }
    .filter-by {
        max-width: 750px;
        font-size: 1.2rem;
    }
    .filter-by input {
        font-size: .8rem;
    }
    .filter-by .keywords-query {
        max-width: 700px;
        height: 120px;
    }
    .more-keywords-container button {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .memes-wrapper {
        grid-template-columns: repeat(4, 190px);
        grid-template-rows: 170px;
        gap: 10px;
    }
    .meme img {
        width: 190px;
        height: 170px;
    }
    .meme-generator {
        max-width: 750px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .main-layout-generator>*:not(:first-child) {
        display: flex;
        flex-direction: column;
    }
    .meme-generator .toggle-modal {
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }
    .meme-generator h2 {
        font-size: 1.5em;
    }
    #meme-canvas {
        width: 500px;
        height: 400px;
    }
    .canvas-container {
        margin-inline-start: 0.625rem;
        margin-inline-end: 0.625rem;
    }
    .meme-setting {
        display: flex;
        width: 600px;
        height: 400px;
        margin-inline-start: 0.825rem;
        margin-inline-end: 0.825rem;
        margin-bottom: 0.825rem;
    }
    .meme-setting #text-line {
        width: 80%;
        height: 2.4rem;
        margin: .6rem auto;
        font-size: 1.2rem;
    }
    .meme-setting .line-settings img,
    .meme-setting .text-settings img,
    .meme-setting .font-settings img {
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;
    }
    .meme-setting .text-settings button {
        width: 2.8rem;
        height: 2.3rem;
    }
    .text-settings {
        /* width: 300px; */
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2.6rem;
        margin: .8rem auto;
    }
    .font-settings {
        width: 500px;
        justify-content: space-between;
        margin-top: .6rem;
        margin: 0 auto;
    }
    .font-settings select {
        width: 240px;
        height: 2rem;
        font-size: 1rem;
    }
    .meme-setting .stickers {
        width: 90%;
        height: 80px;
    }
    .meme-setting .stickers li {
        font-size: 2.6rem;
    }
    .meme-setting .features {
        width: 400px;
        margin: 1rem auto;
        justify-content: center;
    }
    .meme-setting .features img {
        width: 2.4rem;
        height: 2rem;
    }
    .meme-setting .features .share-facebook {
        font-size: 1rem;
        width: 200px;
        height: 40px;
        margin-inline-start: 2rem;
        margin-inline-end: 2rem;
    }
    .meme #load-image {
        box-shadow: unset;
    }
}

@media screen and (max-width: 740px) {
    .main-layout {
        max-width: 620px;
        margin-bottom: 1.125rem;
    }
    header {
        height: 3.75rem;
    }
    .header-logo {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        padding-inline-start: 1rem;
    }
    .header-logo span {
        padding-inline-start: 1rem;
        font-size: .8rem;
    }
    .header-navbar ul {
        padding-inline-end: 15px;
    }
    .header-navbar ul li {
        font-size: .8rem;
        width: 4rem;
        height: 3.75rem;
        margin-inline-start: 1rem;
    }
    .header-navbar ul a {
        font-size: 1rem;
    }
    .filter-by {
        max-width: 580px;
        font-size: 1rem;
    }
    .filter-by input {
        font-size: .6rem;
    }
    .filter-by .keywords-query {
        max-width: 600px;
        height: 120px;
    }
    .more-keywords-container button {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    .memes-wrapper {
        grid-template-columns: repeat(3, 180px);
        grid-template-rows: 140px;
        gap: 10px;
    }
    .meme img {
        width: 180px;
        height: 140px;
    }
    .meme-generator {
        max-width: 600px;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .main-layout-generator>*:not(:first-child) {
        display: flex;
        flex-direction: column;
    }
    .meme-generator .toggle-modal {
        width: 30px;
        height: 30px;
        font-size: .8rem;
    }
    .meme-generator h2 {
        font-size: 1.2em;
    }
    #meme-canvas {
        width: 450px;
        height: 400px;
    }
    .canvas-container {
        margin-inline-start: 0.625rem;
        margin-inline-end: 0.625rem;
    }
    .meme-setting {
        display: flex;
        width: 540px;
        height: 300px;
        margin-inline-start: 0.625rem;
        margin-inline-end: 0.625rem;
        margin-bottom: 0.625rem;
    }
    .meme-setting #text-line {
        width: 80%;
        height: 1.875rem;
        margin: .4rem auto;
        font-size: 1rem;
    }
    .meme-setting .line-settings img,
    .meme-setting .text-settings img,
    .meme-setting .font-settings img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
    .meme-setting .text-settings button {
        width: 2.5rem;
        height: 2rem;
    }
    .text-settings {
        /* width: 300px; */
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
        margin: .4rem auto;
    }
    .font-settings {
        width: 400px;
        justify-content: space-between;
        margin-top: .2rem;
        margin: 0 auto;
    }
    .font-settings select {
        width: 150px;
        height: 1.475rem;
        font-size: .8rem;
    }
    .meme-setting .stickers {
        width: 90%;
        height: 50px;
    }
    .meme-setting .stickers li {
        font-size: 1.6rem;
    }
    .meme-setting .features {
        width: 350px;
        margin: .6rem auto;
        justify-content: center;
    }
    .meme-setting .features img {
        width: 1.9rem;
        height: 1.5rem;
    }
    .meme-setting .features .share-facebook {
        font-size: .8rem;
        width: 180px;
        height: 35px;
        margin-inline-start: 2rem;
        margin-inline-end: 2rem;
    }
    .meme #load-image {
        box-shadow: unset;
    }
}